<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About the page</title>
</head>
<body>
    <p>
        This is an opensource project that I made to learn about the web development using python. 
        As I make progress in my learning I would be adding up new things and functionality to the application. 
        This will always remain free, and the source code for this would be made available in git hub shortly.

        Thank you
    </p>
</body>
</html>